@font-face {
    font-family: 'donovanregular';
    src: url('donovan.eot');
    src: url('donovan.eot?#iefix') format('embedded-opentype'),
         url('donovan.woff') format('woff'),
         url('donovan.ttf') format('truetype'),
         url('donovan.svg#donovanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes fade-green {
    from { background-color: #2F2; }
    to { background-color: #161;} }

@keyframes fade-red {
    from { background-color: #F53; }
    to { background-color: #732;} }

@keyframes fade-gray {
    from { background-color: #BBB; }
    to { background-color: #444;} }

@keyframes scroller {
    from { left: 500px; }
    to { left: -1900px; }
}
