@font-face {
    font-family: 'donovanregular';
    src: url('donovan.eot');
    src: url('donovan.eot?#iefix') format('embedded-opentype'),
         url('donovan.woff') format('woff'),
         url('donovan.ttf') format('truetype'),
         url('donovan.svg#donovanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wacamoler';
    src: url('Wacamoler Caps FFP.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes title-start {
    from { top: 500px; opacity: 0; font-size: 50px; }
    to { top: 0px; opacity: 1; font-size: 120px;}
}

@keyframes fade-green {
    from { background-color: #2F2; }
    to { background-color: #040;} }

@keyframes fade-red {
    from { background-color: #F53; }
    to { background-color: #521;} }

@keyframes fade-gray {
    from { background-color: #BBB; }
    to { background-color: #333;} }

@keyframes scroller {
    from { left: 600px; }
    to { left: -2500px; }
}
